In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/data-science-work/data-storage/master/education_raw.csv')

In [4]:
data.dropna(axis=1, inplace=True)

In [7]:
columns = ['city', 'school_id', 'postal_code']

In [8]:
data = data[columns]

In [10]:
data.head()

        city  school_id  postal_code
0  Nashville        100        37210
1    Madison        105        37115
2    Antioch        110        37013
3    Antioch        111        37013
4  Nashville        114        37209

In [11]:
data.to_csv('/Users/gilberto.diaz/workspace/data_storage_management/education_raw.csv')